numpy==1.24.1 ; python_version >= "3.11" and python_version < "4.0"
pandas==1.5.2 ; python_version >= "3.11" and python_version < "4.0"
pyaes==1.6.1 ; python_version >= "3.11" and python_version < "4.0"
pyasn1==0.4.8 ; python_version >= "3.11" and python_version < "4"
pydantic==1.10.4 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.8.2 ; python_version >= "3.11" and python_version < "4.0"
pytz==2022.7 ; python_version >= "3.11" and python_version < "4.0"
rsa==4.9 ; python_version >= "3.11" and python_version < "4"
six==1.16.0 ; python_version >= "3.11" and python_version < "4.0"
telethon==1.26.1 ; python_version >= "3.11" and python_version < "4.0"
typing-extensions==4.4.0 ; python_version >= "3.11" and python_version < "4.0"
